<h2>We are Konsult.</h2>
<h1>We build your idea into reality.</h1>

<p>Have an idea and need help getting it off the ground? You've come to just the right place. For both the web and native apps, we offer the design and development muscles necessary to take your idea from concept to prototype and beyond.</p>

<p>We work in all the latest frameworks and libraries on each platform. Our broad range of experience and deep knowledge of the platforms allows us to choose the best fit for the job instead of trying to fit a square peg in a round hole like so many others.</p>

<p>So, if you’re ready to get that idea up and running give us a holler and let’s get to work ;) </p>
<div id="contactButton">
  {{view App.ButtonView label="Tell us what you need"}}
</div>