<h2 id="name">Konsult</h2>
<h1 id="tagline">Web Design &amp; Development</h1>
<p id="spiel">
cookies kitties cookies bacon cupcake kitties bacon cupcake bacon kitties cupcake bacon cookies cookies cupcake bacon bacon cookies cookies bacon kitties bacon bacon kitties bacon bacon cookies bacon bacon cupcake bacon bacon bacon bacon.
</p>

<div class="emailButton">
  {{view App.ButtonView label="Bacon!"}}
</div>