<h2>We are Konsult.</h2>
<h1>We build your idea into reality</h1>

<p>Have an idea for a product and want to see it in real life? We 
  can help you refine your idea and build a prototype that you can use 
  to evaluate and further grow your idea. Bacon bacon I love bacon there's
  suppose to be more text here but I dont' have anthing else to sayt so this
  is just filler material now.</p>

{{view App.ButtonView label="How?"}}