{{#each model.services}}
  <div class="Service">
    <div class="RaisedPaperContainer">
      <div class="Name RaisedPaper">{{name}}</div>
    </div>
    <div class="Description">{{{description}}}</div>
  </div>
{{/each}}