<head>
  <title>Konsult</title>
  <link rel="shortcut icon" HREF="/favicon.ico" type="image/x-icon"/>
  <meta name="viewport" content="initial-scale=0.5">
</head>

<body>
    <div id="spotlightBlurbContainer">
      <div id="spotlight"></div>
      <div id="spotlightFloor"></div>
      <div id="blurb">
        <h1>Konsult</h1>
        <p>we make cool things<br/>
          on the web<br/>
          &amp; on mobile
        </p>
        <div id="buttonContainer">
          <div id="contactUs" class="Button">
            <div class="ButtonHighlight"></div>
            <div class="ButtonInterior">Contact Us</div>
          </div>
        </div>
      </div>
    </div>
</body>
