<div id="spotlightBlurbContainer">
  <div id="spotlight"></div>
  <div id="spotlightFloor"></div>
  <div id="blurb">
    <h1>Konsult</h1>
    <p>we make cool things<br/>
      on the web<br/>
      &amp; on mobile
    </p>
    <div id="buttonContainer">
      <div id="contactUs" class="Button">
        <div class="ButtonHighlight"></div>
        <div class="ButtonInterior">Contact Us</div>
      </div>
    </div>
  </div>

  <div id="footer">&copy; Konsult, LLC 2012</div>
</div>
