/*= require_self
 *= require_tree ./lib
 *= require_tree . */

@fontspath: "/static/fonts";

@goldenRatio: 1.618;
@primarySize: 18;
@secondarySize: 15;
@maxWidth: 800px;
@background-color: white;
@navBarHeight: 4em;

@appOrange : rgb(246, 143, 0);
@appPink: rgb(239, 48, 89);
@appBlue: rgb(0, 142, 255);
@appGreen: rgb(113, 187, 112);

@z-logo: 3;
@z-nav: 2;
@z-section: 1;

.biggerFont (@baseSize, @ratio: 2) {
  font-size: @baseSize * @ratio * @goldenRatio;
}
.smallerFont (@baseSize, @ratio: 2) {
  font-size: @baseSize / @ratio * @goldenRatio;
}

.StampedText {
  color: darken(@background-color, 25%);
  text-shadow: 0 1px 0 white; 
}

.WhiteFramedPhoto {
    box-sizing: border-box;
    border: 5px solid white;
    box-shadow: inset 0 1px 3px fade(black, 15%), 0 3px 5px fade(black, 50%);
    background-color: white;
}

.Hide {
  display: none;
}

.RaisedPaperContainer {
  position: relative;
  padding: 2px 0 5px 0;
}
.RaisedPaperContainer:before, .RaisedPaperContainer:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;  

  border: 0px rgba(200, 200, 200, 0.4) solid;
}
.RaisedPaperContainer:before {
  top: -1px;
  height: 2px;
  border-bottom-width: 1px;

  background-image: radial-gradient(bottom, 40% 100%, fade(black, 4%), transparent);
}
.RaisedPaperContainer:after {
  bottom: 0;
  height: 5px;
  border-top-width: 1px;

  background-image: radial-gradient(top, 50% 100%, fade(black, 7%), transparent);
}
.RaisedPaper {
    border-top: 1px solid fade(white, 50%);
    border-bottom: 1px solid fade(black, 5%);
    background-image: radial-gradient(bottom, 50% 200%, fade(white, 25%) 50%, fade(white, 0%));
}

#appContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  transition: opacity 1s ease-out;

  overflow: auto;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: @maxWidth;
  margin-left: auto;
  margin-right: auto;

  color: darken(@background-color, 75%);
  -webkit-tap-highlight-color: transparent;
}

#appBackground {
  @totalWidth: @maxWidth + 50px;

  position: fixed;
  top: 0;
  left: 50%;
  width: @totalWidth;
  margin-left: -@totalWidth / 2;
  height: 100%;  

  background-color: @background-color;
  background-image: radial-gradient(80% 0%, 200% 100%, fade(black, 2%), fade(black, 10%));
}

// Put a background behind content when screen is wide.
@media screen and (min-width: @maxWidth) {
  #appBackground {
    box-shadow: 0 0 1em 1px fade(black, 25%);
  }
  #appContainer {
    background-image: url("/assets/paper_2.jpg");
  }
}

#konsult {
  width: 162px;
  height: 72px;
  position: absolute;
  top: 10px;
  left: 0em;

  background-image: url("/assets/konsult.png");
  background-size: contain;
  background-repeat: no-repeat;

  z-index: @z-logo;
}


p {
  @lineHeight: @goldenRatio * 1em;
  line-height: @lineHeight;
  max-width: @maxWidth;

  margin-top: @lineHeight;
  margin-bottom: @lineHeight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Aller";
  font-weight: normal;
  line-height: 1em;
}

h1 {
  font-weight: bold;
  .biggerFont(@secondarySize * 1px, 3);
}
h2 {
  .biggerFont(@secondarySize * 1px, 2);
}
h3 {
  .biggerFont(@primarySize * 1px, 1);
}
.Footer {
  .StampedText;
  .smallerFont(@secondarySize * 1px, 2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  content: "© Konsult 2012";
}

.Button {
  font-size: @primarySize * 1px;
  line-height: 1em;
}
