@goldenRatio: 1.618;
@primarySize: 18;
@secondarySize: 15;

.biggerFont (@baseSize, @ratio: 2) {
  font-size: @baseSize * @ratio * @goldenRatio;
}
.smallerFont (@baseSize, @ratio: 2) {
  font-size: @baseSize / @ratio * @goldenRatio;
}

@z-nav: 2;
@z-content: 1;

.Background {
  background-color: #EEE;
}

body {
  .Background;

  font-family: "Aller Light";
  font-size: @primarySize * 1px;
  line-height: 1em;
}

p {
  line-height: @goldenRatio * 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Aller";
  font-weight: normal;
  line-height: 1em;
}

h1 {
  font-weight: bold;
  .biggerFont(@secondarySize * 1px, 3);
}
h2 {
  .biggerFont(@secondarySize * 1px, 2);
}
#footer {
  .smallerFont(@secondarySize * 1px, 2);
}

.Button {
  font-size: @primarySize * 1px;
  line-height: 1em;
}

.NavContainer {
  @width: 100% / @goldenRatio;

  .Background;
  z-index: @z-nav;

  position: absolute;
  top: 0;
  left: (100% - @width) / 2;
  width: @width;
  // Prevent flashing on Safari
  transform: translateZ(0);
}

#pageContainer {
  z-index: @z-content;
  position: relative;

  margin:  @primarySize * @goldenRatio * 3px;
}