@import 'nib/vendor'

@keyframes fade0to1
  0%
    opacity 0
  100%
    opacity 1

.fadeIn
  animation fade0to1 1s ease-in-out both

.fadeIn1
  @extend .fadeIn
  animation-delay 0.5s

.fadeIn2
  @extend .fadeIn
  animation-delay 1.5s

