@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Cabin:400,700');

golden = 1.618
smallFontSize = 14px
defaultFontSize = 18px
headerFontSize = 60px
pagePadding = headerFontSize
textGray = #898989

iosBlue = #007fea
darkBlue = #216ebc

minHeight = 400px
headerHeight = 200px
footerHeight = 100px

.bodyFont
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  font-size defaultFontSize
  line-height 1.5em

*
  box-sizing border-box

a
  text-decoration none
  color iosBlue
  &:hover
    color darkBlue
    text-decoration underline
  &:visited
    color iosBlue

html, body
  height 100%

body
  @extend .bodyFont

  min-height minHeight
  max-width 600px
  margin auto
  padding 0 pagePadding/2

  text-align center
  color black

header
  padding-top (pagePadding/2)
h1
  font-family 'Cabin', arial, sans-serif
  font-weight 400
  font-size headerFontSize

h2
  @extend .bodyFont
  padding-top 1em
  color textGray

footer
  height footerHeight
  font-size smallFontSize
  color textGray


#centering_container
  position absolute
  top headerHeight
  left 0
  bottom footerHeight
  right 0
  min-height minHeight - headerHeight - footerHeight
  padding-bottom (headerHeight - footerHeight)/2

  .centering_table
    position absolute
    top
    left 0
    width 100%
    height 100%
    display table

  .centered_content
    display table-cell
    vertical-align middle
    text-align center
    padding 0 (pagePadding/2)

#wrapper
  min-height 100%
  height auto !important
  height 100%
  width 100%
  margin-bottom (0px - footerHeight)

#footer_spacer
  height footerHeight


@media (max-width: 320px)
  header
    padding-top (pagePadding/2)
