@import url('http://fonts.googleapis.com/css?family=Cabin:400,700');
@import url('/fonts/cabinsketch-bold/stylesheet.css');
@import 'nib'

goldenRatio = 1.618

bodyFontSize = 16px
darkBodyFontSize = 19px
tinyFontsize = 0.73 * bodyFontSize
smallHeaderSize = 1.18 * bodyFontSize
mediumHeaderSize = 1.618 * bodyFontSize
largeHeaderSize = 3.09 * bodyFontSize
titleSize = 5 * bodyFontSize

lightFontColor = #DDD
darkBgColor = rgb(15, 26, 28)

.bodyFont
  font-size bodyFontSize
  font-family arial, sans-serif
  line-height goldenRatio*1em

.brandFont
  font-family 'Cabin', arial, sans-serif
  font-weight 400

.headingFont
  font-family 'Cabin Sketch', 'Cabin', arial, sans-serif
  font-weight bold

.lightFont
  color lightFontColor
  font-size darkBodyFontSize
  line-height goldenRatio*1.1em
  font-weight 200

body 
  @extend .bodyFont
  padding 0
  margin 0

h1, h3, h4, h5, h6
  @extend .brandFont
h1
  font-weight 700
  font-size titleSize
h2
  @extend .headingFont
  font-size largeHeaderSize
  color skyblue
h3, h4, h5, h6
  @extend .brandFont

h3
  font-weight 700
  font-size mediumHeaderSize
h4
  font-weight 400
  font-size mediumHeaderSize
h5
  font-weight 700
  font-size smallHeaderSize
h6
  font-weight 700
  font-size bodyFontSize

p
  margin-top bodyFontSize
  margin-bottom bodyFontSize

form
  margin-top bodyFontSize
  margin-bottom bodyFontSize

input, textarea, .input, .textarea
  font-size bodyFontSize !important
  font-weight 200
  font-family arial, sans-serif !important
  line-height goldenRatio*1em !important
  padding bodyFontSize !important
  box-sizing border-box !important
  height auto !important
  margin-bottom bodyFontSize !important
  background-color rgba(white, 0.75) !important

  transition-property: border, box-shadow, background-color !important
  &:focus
    background-color white !important
    
input, .input
  line-height 1em !important

.konsult
  @extend .brandFont
  font-weight 700
  font-size titleSize
  line-height 1em

.dark
  @extend .lightFont
  background-color darkBgColor
  background-image url('/images/blackboard.jpg')
  border-top 1px solid black

.dark + div:not(.dark)
  border-top 1px solid rgba(white, 0.75)

.container
  width 680px
  max-width 100%
  box-sizing border-box
  padding-top largeHeaderSize
  padding-bottom largeHeaderSize

.button
  @extend .lightFont
  color white
  font-size smallHeaderSize
